[build]
  command = "npm run build"
  publish = "dist"

[dev]
  command = "vite --port 5173 --strictPort"
  targetPort = 5173
  port = 8888
  autoLaunch = false

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
